@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

body {
  margin: 0;
  background-color: rgba(62, 149, 130, 0.46);
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.nev-bar{
  top: 0;
  width: 100%;
  background: rgba(184, 232, 170, 1);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*font-family: 'Montserrat', sans-serif;*/
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

h2 {
    margin: 10px 0px;
    font-family: Montserrat, sans-serif;
    color: #000;
    font-size: 23px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

h3,label {
    margin: 0px 0px 20px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}

h5 {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

h6 {
    margin: 10px 0px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

P {
   margin: 10px 0px;
    font-family: Vollkorn, serif;
    font-size: 17px;
    line-height: 22px;
}


.container {
  display: flex;
  width: 1440px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 60px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.date-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;

}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

.button-37 {
  align-self: center;
  text-decoration: none;
  margin-top: 10px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 8px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}