{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="nev-bar">
      <div class="nev-bar-mid">
        <a href=""
          ><img src="{% static 'Group 1.png'%}" height="100px"
        /></a>
      </div>
    </div>
    <div class="header wf-section">
      <div class="w-container">
        <h1 class="main-heading">
          A place where U find <br />a nice place to contribute!
        </h1>
        <div class="divider"></div>
        <div class="main-subtitle">Let make the world beautiful place</div>
        <div class="div-block">
          <div class="courses-container">
            <div class="course">
              <div class="course-preview">
                <h2>Host an Event</h2>
              </div>
              <div class="course-info">
                <h3> Host cleaning events, rallies that create awareness and learning workshops.</h3>
                <a href="post_event/" class="button-68">Continue</a>
              </div>
            </div>
          </div>
          <div class="courses-container">
            <div class="course">
              <div class="course-preview">
                <h2>Register for a event</h2>
              </div>
              <div class="course-info">
                <h3>
                   Browse and Register for the upcoming event.
                </h3>
                <a href="browse_event/" class="button-68">Continue</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-section wf--section">
      <h1 class="main-heading">About US</h1>
      <div class="divider-black"></div>
      <div class="main-box">
        <div class="sub-box">
          <div class="sub-box-text">
            <h3>We are a non-profit organisation whose aim is to work towards saving our environment and natural resources.</h3>
          </div>
          <div class="sub-box-image">
            <img
              class="img"
              src="../static/template(1).png"
              alt=""
            />
          </div>
        </div>
        <div class="sub-box">
          <div class="sub-box-image">
            <img
              class="img"
              src="../static/template.png"
              alt=""
            />
          </div>
          <div class="sub-box-text">
            <h3>We promote sustainable development and host various workshops for it.</h3>
          </div>
        </div>
        <div class="sub-box">
          <div class="sub-box-text">
            <h3>We promote sustainable development and host various workshops for it.</h3>
          </div>
          <div class="sub-box-image">
            <img
              class="img"
              src="../static/template(3).png"
              alt=""
            />
          </div>
        </div>
        <div class="sub-box">
          <div class="sub-box-image">
            <img
              class="img"
              src="../static/template(2).png"
              alt=""
            />
          </div>
          <div class="sub-box-text">
            <h3>We host various events for creating awareness regarding environmental issues.</h3>
          </div>
        </div>
      </div>
      <div class="w-container"></div>
    </div>
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <h3>About</h3>
          <h4>
            <h3 style="color: white;">GreenVally,</h3> is an initiative to help take the next step
            towards sustainable development and to resolve the general environmental issues by connecting like minded people
            who have the same motive as ours. 
            <br>
            Technologies used to make the website are Python3, HTML5, CSS3, Django and MongoDB 
            <br>
            Copyright:
            Laleet Borse
            Harshwardhan Tanwar
          </h4>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="divider"></div>
          <div>
            <ul class="social-icons">
              <li>
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="instagram" href="#"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
