{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks for registration</title>
    <link rel="stylesheet" href="{% static 'reg_done.css'%}" />
  </head>
  <body>
    <div class="nev-bar">
      <div class="nev-bar-mid">
        <a href="../../"
          ><img src="{% static 'Group 1.png'%}" height="100px"
        /></a>
      </div>
    </div>
    <div class="done">
      <h1>
        Thankyou for registering for the event ! the event details have been
        emailed to you along with the organiser's contact details. we do
        appreciate your efforts to save the environement and bring a change.
        Hope to see more of you here. Redirect to the home page to browse all
        of the upcoming events
      </h1>
    </div>
    <div class="buttom"></div>
  </body>
</html>
